/* * Navigation styling for laptops and larger */
@media (min-width: 860px) {
	.header li {
		float: left;
	}

	.header li a {
		padding: 20px 30px;
	}

	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
}

/* * Navigation styling in tablets or smaller */
@media (max-width: 860px) {
	/* Logo font size change to fit navbar on mobile */
	.header .logo {
		font-size: 1.5em;
		padding: 15px 20px 15px 20px;
	}

	/* Navigation transiton omitted on mobile */
	.header ul a,
	.header ul a:hover {
		transition: none;
	}
}

/* *Iframe styling */
@media (max-width: 840px) {
	#yearly-view {
		display: none;
	}
	.availability-container {
		width: 620px;
		margin: auto;
	}
}

@media (min-width: 839px) {
	#monthly-view {
		display: none;
	}
	.availability-container {
		width: 823px;
	}
}

@media (max-width: 620px) {
	#monthly-view {
		display: none;
	}
	.availability-container {
		width: 205px;
	}
}

@media (min-width: 620px) {
	#one-month-view {
		display: none;
	}
}
