@media (min-width: 800px) {
	.header li {
		float: left;
	}

	.header li a {
		padding: 20px 30px;
	}

	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
}

@media (max-width: 800px) {
	.header .logo {
		font-size: 1.5em;
		padding: 15px 20px 15px 20px;
	}
}
