/* *RESET */
* {
	box-sizing: border-box;
}

/* * Smooth Scroll */
html {
	scroll-behavior: smooth;
}

/* * Setting the font family and styling defaults */
body {
	font-family: zeitung, sans-serif;
	font-weight: 300;
	font-style: normal;
	background-color: #1b231d;
	padding: 0;
	margin: 0;
}

hr {
	background-color: #346830;
	border: 1px solid white;
	border-radius: 10px;
}
/* *Navigation Styling */
/* *Link text color to white */
.header a {
	color: #f9c233;
}

/* *Header container styling. Making it fixed at the top of the page. */
.header {
	background: #211a28;
	/* box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3); */
	position: fixed;
	width: 100%;
	z-index: 3;
}

/* *Reseting the list styles. */
.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

/* *Navigation button styling. */
.header ul a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #f9c233;
	transition: ease-out 0.3s;
	font-weight: 100;
}

/* *Nav button hover effect. */
.header ul a:hover {
	transition: ease-in 0.3s;
	background-color: #705860;
	color: white;
}

/* *Logo styling */
.header .logo {
	float: left;
	display: block;
	font-size: 2em;
	padding: 8px 20px;
	color: #f9c233;
	text-decoration: none;
}

/* * Navigation buttons styling */
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

/* Nav button styles */
.header .menu-icon {
	padding: 28px 20px;
	position: relative;
	float: right;
	cursor: pointer;
}

/* * Hamburger styling */
.header .menu-icon .nav-icon {
	background: #f9c233;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background 0.2s ease-out;
}

/* sudo elements for hamburger menu */
.header .menu-icon .nav-icon:before {
	background: #f9c233;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	top: 5px;
}

.header .menu-icon .nav-icon:after {
	background: #f9c233;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	top: -5px;
}

.header .menu-btn {
	display: none;
}
/* ./hambuger menu btn styling */

/* Mobile menu max height for animation */
.header .menu-btn:checked ~ .menu {
	max-height: 340px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
	transform: rotate(+45deg);
	top: 0;
}

/* Showcase container */
.showcase-container {
	align-content: center;
	background-color: black;
}
/* Hide the images by default */
.mySlides {
	display: none;
}

.showcase-container img {
	max-width: 100%;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

/* *CONTENT STYLING */

.content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url("/assets/img/background.jpg");
	background-size: cover;
}

.availability-container {
	padding-top: 4em;
	padding-bottom: 1em;
}

/* *Features Styling */
.features-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

	padding: 2em;
	padding-top: 4em;
}

.features-container h3 {
	color: #f9c233;
}
.features {
	margin: 1em;
	padding: 1em;
	background-color: #705860;
	color: white;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.features ul {
	padding: 0;
}

.features ul li {
	list-style: none;
	display: flex;
	flex-direction: row;
}

/* *Pricing styling */
.pricing {
	margin: 1em;
	padding: 1em;
	background-color: #705860;
	color: white;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}
.pricing ul {
	padding: 0;
}

.pricing ul li {
	list-style: none;
	display: flex;
	flex-direction: row;
}

.history {
	margin: 1em;
	padding: 1em;
	background-color: #705860;
	color: white;
	border-radius: 5px;
	width: 100%;
}

.history ul {
	padding: 0;
}
.history ul li {
	list-style: none;
}
.history ul li h5 {
	font-style: italic;
	color: #f9c233;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 2em;
	padding-top: 4em;
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 33.3%;
	max-width: 33.3%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}
